[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
djangorestframework = "*"
gunicorn = "*"
djangorestframework-simplejwt = {extras = ["crypto"], version = "*"}
django-cors-headers = "*"
black = "*"
certifi = "*"
python-dotenv = "*"
python-dateutil = "*"
psycopg = {extras = ["binary"], version = "*"}

[dev-packages]

[requires]
python_version = "3.10"
